-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: mysql-19e6c56a-blackdiamondgymdb.d.aivencloud.com    Database: defaultdb
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '040581bd-374a-11f1-8fd0-32a24ff03481:1-15,
31c99ab9-35f6-11f1-b016-0a1fa95b51e3:1-20,
5085ca8e-393a-11f1-86d3-3a548d99ec98:1-15,
a837eb17-2f9e-11f1-993e-9665bd42e2ab:1-150,
dd120dfe-3075-11f1-86a6-ea3ef70904ce:1-15';

--
-- Current Database: `defaultdb`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `defaultdb` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `defaultdb`;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `usuario` varchar(60) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `creado_en` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuario` (`usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'Profe Black Diamond','blackdiamond1','$2a$10$vENPn8pQLId7OMEM7gsM3edpNKgRjpgsfNuDkEI80ogOw7EK4MqVu','2026-03-23 01:01:52'),(2,'Admin 2','blackdiamond2','$2a$10$vENPn8pQLId7OMEM7gsM3edpNKgRjpgsfNuDkEI80ogOw7EK4MqVu','2026-03-23 03:05:35'),(3,'Admin 3','blackdiamond3','$2a$10$vENPn8pQLId7OMEM7gsM3edpNKgRjpgsfNuDkEI80ogOw7EK4MqVu','2026-03-23 03:05:35');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `catalogo`
--

DROP TABLE IF EXISTS `catalogo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `catalogo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `descripcion` text,
  `precio` int NOT NULL,
  `imagen_url` varchar(400) DEFAULT NULL,
  `categoria` varchar(80) DEFAULT NULL,
  `stock` int NOT NULL DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `creado_en` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catalogo`
--

LOCK TABLES `catalogo` WRITE;
/*!40000 ALTER TABLE `catalogo` DISABLE KEYS */;
INSERT INTO `catalogo` VALUES (9,'Ejemplo','Descripcion',2000,'https://res.cloudinary.com/dddljjigu/image/upload/v1775263086/blackdiamond/catalogo/h8iltmsncqw2kmu9h5mf.png','Ropa',5,1,'2026-04-04 00:38:07');
/*!40000 ALTER TABLE `catalogo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `galeria_fotos`
--

DROP TABLE IF EXISTS `galeria_fotos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `galeria_fotos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(150) NOT NULL DEFAULT '',
  `url` varchar(400) NOT NULL,
  `orden` int NOT NULL DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `creado_en` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `galeria_fotos`
--

LOCK TABLES `galeria_fotos` WRITE;
/*!40000 ALTER TABLE `galeria_fotos` DISABLE KEYS */;
INSERT INTO `galeria_fotos` VALUES (6,'Ejemplo','https://res.cloudinary.com/dddljjigu/image/upload/v1775271322/blackdiamond/galeria/n76xdnyackkaokkn7hzn.png',0,1,'2026-04-04 02:03:26');
/*!40000 ALTER TABLE `galeria_fotos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imagenes_sitio`
--

DROP TABLE IF EXISTS `imagenes_sitio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imagenes_sitio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `clave` varchar(60) NOT NULL,
  `label` varchar(120) NOT NULL,
  `url` varchar(400) NOT NULL,
  `actualizado` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clave` (`clave`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imagenes_sitio`
--

LOCK TABLES `imagenes_sitio` WRITE;
/*!40000 ALTER TABLE `imagenes_sitio` DISABLE KEYS */;
/*!40000 ALTER TABLE `imagenes_sitio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `noticias`
--

DROP TABLE IF EXISTS `noticias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `noticias` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `contenido` text NOT NULL,
  `imagen_url` varchar(300) DEFAULT NULL,
  `fecha_publicacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `admin_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_fecha` (`fecha_publicacion`),
  KEY `fk_noticia_admin` (`admin_id`),
  CONSTRAINT `fk_noticia_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `noticias`
--

LOCK TABLES `noticias` WRITE;
/*!40000 ALTER TABLE `noticias` DISABLE KEYS */;
INSERT INTO `noticias` VALUES (12,'5','5',NULL,'2026-04-04 02:13:39',1),(13,'6','6',NULL,'2026-04-04 02:13:53',1),(14,'Ejemplo','Ejemplo','https://res.cloudinary.com/dddljjigu/image/upload/v1775268863/blackdiamond/noticias/u7n5r53izp2hbwfgropr.jpg','2026-04-04 02:14:23',1),(15,'Ejemplo','Hola',NULL,'2026-04-11 22:39:35',1),(16,'Gato fino','Gato','https://res.cloudinary.com/dddljjigu/image/upload/v1775955072/blackdiamond/noticias/mfrmmthbxoybj5aauhzz.jpg','2026-04-12 00:51:13',1);
/*!40000 ALTER TABLE `noticias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planes`
--

DROP TABLE IF EXISTS `planes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `planes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `clave` varchar(60) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  `precio` int NOT NULL,
  `periodo` varchar(40) DEFAULT '/mes',
  `actualizado` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clave` (`clave`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planes`
--

LOCK TABLES `planes` WRITE;
/*!40000 ALTER TABLE `planes` DISABLE KEYS */;
/*!40000 ALTER TABLE `planes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitudes`
--

DROP TABLE IF EXISTS `solicitudes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `solicitudes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `email` varchar(180) DEFAULT NULL,
  `whatsapp` varchar(30) DEFAULT NULL,
  `plan_interes` varchar(100) DEFAULT NULL,
  `mensaje` text,
  `leido` tinyint(1) NOT NULL DEFAULT '0',
  `fecha` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitudes`
--

LOCK TABLES `solicitudes` WRITE;
/*!40000 ALTER TABLE `solicitudes` DISABLE KEYS */;
INSERT INTO `solicitudes` VALUES (2,'Yo','admin@blackdiamondgym.co',NULL,'Mensualidad Boxeo',NULL,0,'2026-04-04 02:01:25'),(3,'Yo','admin@blackdiamondgym.co',NULL,'Mensualidad Boxeo',NULL,0,'2026-04-11 22:38:16');
/*!40000 ALTER TABLE `solicitudes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `textos_sitio`
--

DROP TABLE IF EXISTS `textos_sitio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `textos_sitio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `clave` varchar(80) NOT NULL,
  `valor` text NOT NULL,
  `actualizado` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clave` (`clave`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `textos_sitio`
--

LOCK TABLES `textos_sitio` WRITE;
/*!40000 ALTER TABLE `textos_sitio` DISABLE KEYS */;
INSERT INTO `textos_sitio` VALUES (1,'con-dir','Bosa, BogotÔö£├¡ D.C.','2026-04-04 02:36:16'),(2,'con-wa','573133737591','2026-04-04 02:36:16'),(3,'con-ig','https://www.instagram.com/gym_blackdiamond_boxing_center/','2026-04-04 02:36:16'),(4,'con-tk','https://www.tiktok.com/@gymblackdiamondboxingcen','2026-04-04 02:36:16'),(5,'con-footer','┬® 2026 Black Diamond Gym ┬À Boxing Center ┬À Bosa, Bogot├í','2026-04-04 02:36:16');
/*!40000 ALTER TABLE `textos_sitio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `videos_destacados`
--

DROP TABLE IF EXISTS `videos_destacados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `videos_destacados` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(150) NOT NULL,
  `url` varchar(500) NOT NULL,
  `plataforma` varchar(20) NOT NULL DEFAULT 'instagram',
  `orden` int NOT NULL DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `creado_en` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `videos_destacados`
--

LOCK TABLES `videos_destacados` WRITE;
/*!40000 ALTER TABLE `videos_destacados` DISABLE KEYS */;
INSERT INTO `videos_destacados` VALUES (1,'Entrena con nosotros','https://www.instagram.com/p/DO3tb-kDpaA/','instagram',1,1,'2026-03-23 01:02:24'),(3,'Tiktok ejemplo','https://www.tiktok.com/@gymblackdiamondboxingcen/video/7524563298751188230?is_from_webapp=1&sender_device=pc&web_id=7624331905404487176','tiktok',2,1,'2026-04-03 01:02:58'),(7,'Facebook','https://www.facebook.com/watch/?v=984895340287684','facebook',3,1,'2026-04-03 02:59:03');
/*!40000 ALTER TABLE `videos_destacados` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-15 21:23:38
